main{
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    justify-content:space-around;
}

#reseaux-sociaux{
    grid-column: 2;
    margin: 20px 10px 0 10px;
}

#no-result{
    grid-column: 3;
    margin: 20px 10px 0 10px;
}


@media(min-width:992px){
    main{
        display: grid;
        grid-template-columns: 40px 300px auto 40px;
        grid-column-gap: 80px;
    }

    #reseaux-sociaux{
        grid-column: 2;
    }

    #no-result{
        grid-column: 3;
    }
}

@media(min-width:1200px){
    main{
        display: grid;
        grid-template-columns: 40px 300px auto 20px 40px;
        grid-column-gap: 80px;
    }

    #reseaux-sociaux{
        grid-column: 2;
    }

    #no-result{
        grid-column: 3;
    }
}