main{
    display: grid;
    grid-template-columns: 10px 400px auto 10px;
    grid-column-gap: 20px;
}

#reseaux-sociaux{
    grid-column: 2;
    margin: 0;
    margin-bottom: 15px;
}

#no-result{
    grid-column: 3;
    margin: 0;
}

@media(min-width:250px){
    main{
        display: grid;
        grid-template-columns: 1px auto 1px;
    }

    #reseaux-sociaux{
        display: none;
    }

    #no-result{
        grid-column: 2;
    }
}

@media(min-width:768px){
     main{
        display: grid;
        grid-template-columns: 5px 350px auto 5px;
        grid-column-gap: 20px;
    }

    #reseaux-sociaux{
        grid-column: 2;
        display: inline;
        margin: 0;
    }

    #no-result{
        grid-column: 3;
        margin: 0;
    }
}


@media(min-width:1200px){
    main{
        display: grid;
        grid-template-columns: 50px 400px 90px auto 200px;
        grid-column-gap: 60px;
    }

    #reseaux-sociaux{
        grid-column: 2;
        margin: 0;
        margin-bottom: 15px;
    }

    #no-result{
        grid-column: 4;
        margin: 0;
        padding: 40px;
    }
}