<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
      </div>

        <div class="content">
            <div class="text-center">
              <p class="lead text-white">Trouvez votre recette à partir d'un ingrédient</p>

                <form [formGroup]="rechercheForm" (ngSubmit)="onRecherche()">

                  <div class="form-group">
                    <input id="recherche" type="text" class="form-control" formControlName="recherche" placeholder="Recherche">
                  </div>

                  <p id="msgErreur">{{ messageErreur }}</p>

                  <button [disabled]="isDisabled" id="btnRecherche" class="btn btn-1 btn-neutral"
                          type="submit">C'est parti !</button>

                </form>

            </div>
        </div>

    </section>
  </div>
</main>
