<footer class="footer">
  <div class="container">
    <div class="row align-items-center justify-content-md-between">

      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}} - YCG Team
        </div>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/cooking.chief/" target="_blank" data-toggle="tooltip" title="Suivez-nous sur Instagram">
              <i class="fa fa-instagram"></i> Instagram
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/web_l3" target="_blank" data-toggle="tooltip" title="Suivez-nous sur Twitter">
              <i class="fa fa-twitter-square"></i> Twitter
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</footer>
