<main class="recette-page">
  <section>
    <div class="container">


      <h4 class="title">{{ recette.titre }}</h4>

        <!-- Photo de la recette-->
        <div class="photo-principale">
          <img [src]="recette.image"  [alt]="valRecherche">
        </div>

        <div class="infos">
            <div class="infos-content">
              <!-- Bouton de retour-->
              <button class="bouton btn btn-1 btn-neutral">
              <a routerLink="/results/{{nom}}">Retour</a>
            </button>
            </div>
            <div class="infos-content">
              <span class="heading">{{ recette.nbPortions }}</span>
              <span class="description">personnes</span>
            </div>
            <div class="infos-content">
              <span class="heading">{{ recette.calories | number: '1.0-0' }}</span>
              <span class="description">Kcal</span>
            </div >
        </div>

        <!-- Gestion de la liste des ingrédients -->
        <div class="ingredients">
            <h2 class="subtitle">Ingrédients :</h2>
            <div class="ingredients-list">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let ing of recette.listeIngredients">
                    {{ing}}
                  </li>
                </ul>

                <!-- Bouton pour accéder à la recette => ouverture dans une autre fenêtre -->
                <button type="button" class="bouton btn btn-outline-default" id="btnVoir">
                  <a [href]="recette.url" target="_blank">Voir la recette</a>
                </button>
            </div>
        </div>








    </div>
  </section>
</main>
