<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

    </section>
  </div>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">

              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our customers</h3>
            <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <!-- <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful websites</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
