<main>
  <!-- <section class="my-0">
  </section> -->
  <section>
    <div class="container">
      <div class="text-center mt-7">
        <h1>Actualités</h1>
      </div>

      <!-- <div class="card card-recette shadow mt--300">
        <div class="px-4"> -->
          <!-- <div class="row justify-content-center">
          </div> -->
          <app-insta-feed></app-insta-feed>
          <app-twitter-feed></app-twitter-feed>
        <!-- </div>
      </div> -->
    </div>
  </section>

</main>
