
<div class="card">
    <div class="card-body" style="display:flex;">
        <img class="card-img-top avatar avatar-lg rounded-circle" src="../../../../../assets/img/photos/logo-reseaux-sociaux-v2 (2).svg" alt="">
        <p class="card-text userInfos">{{nom}} <em>{{'@'+at}}</em></p>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sin amet</p>
        <img class="card-img-top" src="../../../assets/img/photos/food.jpg" alt="">
      </div>
    <div class="card-body">
        <p class="card-text">Likes :</p>
        <p class="card-text">Nombre de RT : </p>
      </div>
  </div>