<main>
  <li [ngClass]="{'list-group-item': true}">
    <div class="card mb-3">
      <img src="../../../assets/img/photos/food.jpg" class="card-img-top" alt="..."> <!-- image dans le fichier json -->
      <div class="card-body">
          <h5 class="card-title">{{ recetteTitre }}</h5> <!-- label dans le fichier json -->
          <div class="titre-recette"></div>

          <p class="card-text">Auteur : {{ recetteAuteur }}</p> <!-- source dans le fichier json -->
          <div class="auteur-recette"></div>

          <p class="card-text">Nombre de personnes : {{ recetteNbPortions }} </p> <!-- yield dans le fichier json -->
          <div class="nbPortion-recette"></div>

          <p class="card-text">Calories : {{ recetteCalories }}</p><!-- calories dans le fichier json -->
          <div class="calories-recette"></div>

          <p class="card-text">Tags : <em>Tag1 </em> </p> <!-- healthLabels (tableau de string) dans le fichier json -->
          <div class="tags-recette"></div>

          <button type="button" (click)="onClick()" class="btn btn-outline-default" href="">Découvrir la recette</button>
          <!-- <a [routerLink]="[recherche]"><button type="button" class="btn btn-outline-default" href="">Découvrir la recette</button></a> -->
      </div>
    </div>
  </li>
</main>