<nav id="navbar-main" class="navbar-transparent">
  <div class="content">

    <a class="navbar-brand" [routerLink]="['/home']">
      <img id="logo" src="assets/img/photos/logo.svg" alt="Logo avec une toque et une moustache">
    </a>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a href="https://www.instagram.com/cooking.chief/" target="_blank"  title="Suivez-nous sur Instagram">
          Instagram
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/web_l3" target="_blank" title="Suivez-nous sur Twitter">
          Twitter
        </a>
      </li>
    </ul>

  </div>
</nav>
