<main class="recette-page">
  <section class="section-profile-cover my-0">
  </section>
  <section>
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
          </div>
          <div class="text-center mt-5">
            <h3>Twitter</h3>
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
          </div>

          <div class="text-center mt-5">
            <h3>Instagram</h3>

            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
            <img class="img-fluid rounded shadow" src="../../assets/img/photos/food.jpg" alt="" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
