.afficher{
    visibility: visible;
}

.cacher{
    visibility: hidden;
}

.bouton {
    background-color:  #A48A5C;
    transition: 0.7s;
}

.bouton a{
    color: white;
}

.bouton:hover{
    opacity: 0.8;
    background-color:  #aa9879;
}

.bouton:hover a {
    color: #463F32;
}

#msgChargement{
    font-weight: bold;
}

#btnVoir{
    border: none;
    margin-top: 50px;
    margin-left: 25%;
}

#titreAccueil{
    text-align: center;
}

.title{
    text-align: center;
    margin-bottom: 15px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 10px;
    margin-top: 10px;
}

.infos-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.photo-principale{
    text-align: center;
    width: 100%;
}

.photo-principale img{
    width: 350px;
    text-align: center;
}

.subtitle{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.ingredients{
    text-align: left;
}

.recette-page{
    margin-top: 2.9em;
    margin-bottom: 10px;
}

@media(min-width:250px){
    main{
        display: grid;
        grid-template-columns: 100%;
    }

    #reseaux-sociaux{
        display: none;
    }

    #main-content{
        grid-column: 1;
        text-align: center;
    }

    .ingredients{
        margin-top: 5px;
        padding: 0;
    }

    .ingredients-list ul li{
        margin: 1px 0px;
        padding: 0px 2px;
    }

    .photo-principale img{
        width: 250px;
        text-align: center;
    }
}

@media(min-width:768px){
    main{
        display: grid;
        grid-template-columns: 5px 310px auto 5px;
        grid-column-gap: 20px;
    }

    #reseaux-sociaux{
        grid-column: 2;
        display: inline;
        margin: 0;
    }

    #main-content{
        grid-column: 3;
        margin: 0;
    }

    .ingredients{
        margin-top: 5px;
        padding: 0 10px;
    }

    .ingredients-list ul li{
        margin: 0 5px;
        padding: 0 10px;
    }
}

@media(min-width:1200px){
    main{
        display: grid;
        grid-template-columns: 50px 400px 40px auto 100px;
        grid-column-gap: 60px;
    }

    #reseaux-sociaux{
        grid-column: 2;
        margin: 0;
        margin-bottom: 15px;
    }

    #main-content{
       grid-column: 4;
        margin: 0;
    }

    .ingredients{
        margin-top: 10px;
        padding: 0px 50px;
    }

    .ingredients-list ul li{
        margin: 10px 0px;
        padding: 0px 10px;
    }
}
