<main>
  <section id="reseaux-sociaux">
    <app-twitter-feed></app-twitter-feed>
  </section>

  <section id="main-content">
    <div class="recette-page">
      <h3 id="titreAccueil">Recette du jour</h3>

      <div class="container">

          <h4 class="title">Nom de la recette</h4>

          <div class="photo-principale">
            <img src="assets/img/photos/cookies.jpg" alt="...">
          </div>

          <div class="infos">
            <div class="infos-content">
              <span class="heading">6</span>
              <span class="description"> personnes</span>
            </div>
            <div class="infos-content">
              <span class="heading">321</span>
              <span class="description">Kcal</span>
            </div >
          </div>


          <!-- Gestion de la liste des ingrédients -->
          <div class="ingredients">
            <h2 class="subtitle">Ingrédients :</h2>
            <div class="ingredients-list">
                <ul class="list-group">
                    <li class="list-group-item" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li class="list-group-item" >Aliquam tincidunt mauris eu risus.</li>
                    <li class="list-group-item" >Vestibulum auctor dapibus neque.</li>
                    <li class="list-group-item" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li class="list-group-item" >Aliquam tincidunt mauris eu risus.</li>
                    <li class="list-group-item" >Vestibulum auctor dapibus neque.</li>
                    <li class="list-group-item" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li class="list-group-item" >Aliquam tincidunt mauris eu risus.</li>
                    <li class="list-group-item" >Vestibulum auctor dapibus neque.</li>
                </ul>
                <button (click)="chercherRecetteAleatoire()">Cliquer</button>
            </div>
          </div>

      </div>
    </div>
  </section>
</main>