
<div class="card">
    <div class="card-body" style="display:flex;">
        <img class="card-img-top avatar avatar-lg rounded-circle" [src]="unTweet.photoDeProfil" alt="">
        <p class="card-text userInfos">{{unTweet.nom}} <em>{{'@'+unTweet.arobase}}</em></p>
      </div>
      <div class="card-body">
        <p class="card-text">{{unTweet.texte}}</p>
        <img class="card-img-top" src="../../../assets/img/photos/food.jpg" alt="">
      </div>
    <div class="card-body">
        <p class="card-text">{{'Likes : '+unTweet.favs}}</p>
        <p class="card-text">{{'Rts : '+unTweet.rts}}</p>
      </div>
  </div>