#logo{
    margin-top: 0;
    width: 250px;
    height: auto;
    transition: 0.6s;
}

#logo:hover{
    opacity: 0.7;
}

nav{
    height: 80px;
}

#navbar-main{
    background-color: #423725;
}

.nav-item a{
    color: #ffff;
    text-decoration: none;
    transition: 0.5s;
}

.nav-item a:hover{
    color: #A48A5C;
}
