<nav id="navbar-main" class="navbar navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
     <!-- <p class="display-3 mb-0">Cooking Chief</p> -->
     <img id="logo" src="../../../assets/img/photos/logo.svg" alt="Logo avec une toque et une moustache">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
