<main class="recette-page">
  <section class="section-profile-cover section-shaped my-0">
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">4</span>
                  <span class="description">personnes</span>
                </div>
                <div>
                  <span class="heading">225</span>
                  <span class="description">Kcal</span>
                </div>
                <!-- <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>Recette de cookies</h3>
          </div>
          <div class="mt-5 py-5 border-top ">
            <div class="row justify-content">
              <div class="col-lg-9">
                <h4>Liste des ingrédients :</h4>
                <ul>
                  <li>1 oeuf</li>
                  <li>85g de beurre</li>
                  <li>100 g de pépites de chocolat</li>
                  <li>85g de sucre</li>
                  <li>150g de farine</li>
                </ul>

                <h4>Préparation :</h4>
                <p>Laissez ramollir le beurre à température ambiante. Dans un saladier, malaxez-le avec le sucre.</p>
                <p>Ajoutez l'oeuf et éventuellement le sucre vanillé.</p>
                <p>Versez progressivement la farine, la levure chimique, le sel et les pépites de chocolat. Mélangez bien.</p>
                <p>Beurrez une plaque allant au four ou recouvrez-la d'une plaque de silicone. À l'aide de deux cuillères à soupe ou simplement avec les mains, formez des noix de pâte en les espaçant car elles s'étaleront à la cuisson.</p>
                <!-- <a href="javascript:void(0)">Show more</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
