<main class="recette-page">
  <section class="section-recette my-0">
  </section>
  <section>
    <div class="container">

      <div class="card card-recette shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-recette-image">
                <a href="javascript:void(0)">
                  <img src=".\assets\img\photos\cookies.jpg" class="">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-recette-stats d-flex justify-content-center">
                <div>
                  <span class="heading">4</span>
                  <span class="description">personnes</span>
                </div>
                <div>
                  <span class="heading">225</span>
                  <span class="description">Kcal</span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center mt-7">
            <h3>Nom de la recette</h3>
          </div>
          <app-ingredient-liste></app-ingredient-liste>
          <app-etape-liste></app-etape-liste>
        </div>
      </div>
    </div>
  </section>
</main>
