<div class="text-center mt-7">
    <h3>Resultat de la recherche </h3>
</div><app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>
<app-recette-description></app-recette-description>