<main>
  <section id="reseaux-sociaux">
    <app-reseaux-sociaux></app-reseaux-sociaux>
  </section>
  <section id="results-content">
    <h3>Resultat de la recherche </h3>

    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
    <app-recette-description></app-recette-description>
  </section>
</main>
