<main class="recette-page">
  <section class="section-recette my-0">
  </section>
  <section>
    <div class="container">

      <div class="card card-recette shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-recette-image">
                <a href="javascript:void(0)">
                  <img [src]="recette.image">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-recette-stats d-flex justify-content-center">
                <div>
                  <a routerLink="/results">Retour</a>
                </div>
                <div>
                  <span class="heading">{{ recette.nbPortions }}</span>
                  <span class="description">personnes</span>
                </div>
                <div>
                  <span class="heading">{{ recette.calories | number: '1.0-0' }}</span>
                  <span class="description">Kcal</span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center mt-7 divTitreRecette">
            <h3>{{ recette.titre }}</h3>
          </div>
          <app-ingredient-liste [liste]="recette.listeIngredients"></app-ingredient-liste>
          <button type="button"s class="btn btn-outline-default">
            <a [href]="recette.url">Voir la recette</a>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
