main{
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
}

#reseaux-sociaux{
    /* border: 1px solid green; */
    grid-column: 2;
    margin: 20px 10px 0 10px;
}

.divListeIngredients{
    width: 100%;
}